<link rel="shortcut icon" href="../my.ico" type="image/x-icon" />
<link id="slink" rel="stylesheet" type="text/css"
	href="../ui/js/plugins/jquery-easyui-1.5.1/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="../ui/js/plugins/jquery-easyui-1.5.1/themes/icon.css" />
<link rel="stylesheet" type="text/css"
	href="../ui/js/plugins/jquery-easyui-1.5.1/demo/demo.css" />
<link rel="stylesheet" type="text/css"
	href="../ui/css/common.css" />
<script type="text/javascript"
	src="../ui/js/plugins/jquery-easyui-1.5.1/jquery.min.js"></script>
<script type="text/javascript"
	src="../ui/js/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../ui/js/plugins/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../ui/js/plugins/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../ui/js/plugins/jquery-easyui-1.5.1/syExtJavascript.js"></script>
<script type="text/javascript" src="../ui/js/plugins/jquery-easyui-1.5.1/syExtJquery.js"></script>
<script type="text/javascript" src="../ui/js/plugins/jquery-easyui-1.5.1/syExtEasyUI.js"></script>